@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Blackout;
  src: url("../fonts/Blackout.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Broted-young-plant";
  src: url("../fonts/BrotedYoungPlantRegular.ttf") format("truetype");
}

@font-face {
  font-family: Broted-young-plant-script;
  src: url("../fonts/BrotedYoungPlantScriptRegular.ttf") format("truetype");
}

@font-face {
  font-family: Quiche-sans-light;
  src: url("../fonts/Fontspring-DEMO-quichesans-light.otf") format("opentype");
}
